@charset "utf-8";
/* CSS Document */

body{
	font-family:Calibri;
	background:url(../img/back.png);
	background-size:contain;
}
p{
 font-family:calibri;
 color:black;
 }
a:link {
    text-decoration: none;
	color:blue;
}

r{
font-family:calibri;
	font-size: 15px;
	color:#444;
	}


#small{
	font-family:calibri;
	font-size: 15px;
	color:#444;
	line-height: 14px;
	/*text-transform: uppercase;*/
	letter-spacing: 2px;
	font-weight: bold;
	}
  
 #books{
		float:left;
		background-color:white;
		width: 800px;
		top: 150px;
		left: 100px;
 
 }
  
#sidebar .title {
	text-decoration:none;
	color:grey;
      font-size:20px;
      text-align:left;
      padding:10px;
	  font-family:calibri;
	

}

#sidebar {
	  float:left;
      background-color:;
      width: 200px;
      top: 150px;
      left: 100px;
}
#maindiiv{
	position:relative;
	min-width:1300px;
	max-width:1300px;
	padding-left:20px;
	padding-right:20px;
	border-radius:12px;
	
	
}
#mainnav{
	padding-top:0px;
	margin-top:0px;
	margin-bottom:10px;
	font-weight:500;
	font-size:16px;
	
	
	

	
}
#mainnav ul ul{
	visibility:hidden;
  opacity:0;
  transition:opacity 0.5s linear;
}

#mainnav ul li:hover ul{
	visibility:visible;
  	opacity:1;
}
#mainnav ul li:hover{
	background-color:#8484FF;	
}
#mainnav ul{
	border-radius:12px;
	position:relative;
	list-style:none;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	background-image:url(../img/ribbon.png);
	background-repeat:repeat-x;
	min-height:40px;
	box-shadow: 0px 5px 5px #888888;
	
}
#mainnav ul:after{
	content:"";
	clear:both;
	display:block;
}
#mainnav ul li{
	
	min-width:80px;
	max-width:80px;
	min-height:30px;
	display:inline-block;
	border-radius:12px;
	
	padding:10px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	
}
#mainnav ul li a{
	color:#000000;
	text-decoration:none;
	opacity:1;
}
#mainnav ul ul{
	padding:0px;
	position:absolute;
	margin-left:0px;
	
}
#mainnav ul ul li{
	max-width:150px;
	min-width:150px;
	padding-left:12px;
	
	display:block;
	text-align:left;
	position:relative;
	
	font-weight:200;
	font-size:16px;
}
#subdiv{
	padding-top:5px;
	padding-bottom:45px;
	margin-bottom:20px;
	background-image:url(../img/body.png);
	border-radius:10px;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(50, 48, 50, 0.74);
	-moz-box-shadow:    0px 0px 30px 0px rgba(50, 48, 50, 0.74);
	box-shadow:0px 0px 30px 0px rgba(50, 48, 50, 0.74);
	
}
#search{
	padding-bottom:5px;
}
#search table{
	
	border-radius:5px;
	
}
#search table tr td p{
	font-size:20px;
	padding-right:10px;
	margin:0px;
}
#search table tr td select{
	padding-right:10px;
	font-size:16px;
	background-color: #eee;
	border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
	min-height:40px;
	max-height:40px;
	min-width:230px;
	max-width:230px;
}
#search_text{
	background-color: #eee;
	border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
	min-height:34px;
	max-height:34px;
	min-width:520px;
	max-width:520px;
	font-size:16px;
}
#search_button{
	
	min-height:40px;
	max-height:40px;
	min-width:120px;
	max-width:120px;
	background:url(../img/search-button04.png);
	background-size:cover;
	
	background-repeat:no-repeat;
	
	padding:0px;
	border:none;
	opacity:0.7;
	font-size:18px;
	margin-right:5px;
}
#search_button:hover{
	opacity:0.85;
}
#search_button:active{
	opacity:1;
}
#bodymain{
	background-image:url(../img/search.png);
	padding:20px;
	
	
	
}
#template_table tr td{
	padding-left:50px;	
	padding-right:50px;
}
