.bodymain {
	background: url(logo.jpg);
	background-repeat: no-repeat;
}
h1{
	text-align:center;
	font-weight: 100;
	font-size: 2.3em;
	color: #606366;
}
.email-card {
	
	width: 400px;
	height: 400px;
	background-color: #F7F7F7;
	box-shadow: 10px 10px 5px #888888 inset;
	border-radius: 5px;
}
p {
	text-align: center;
	font-size: 1.2em;
}
form{
	padding-top:25px;
}
.email-card input[type=email] {
	width: 90%;
	height: 35px;
	margin: 20px;
	border-radius: 5px;
	font-size:inherit;
	font-weight: 100;
	color: #606366;
}
.email-card-submit {
	height: 35px;
	border: 0px;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	background-color: #4d90fe;
	font-size:inherit;
	margin-left: 29%;
	font-family:initial;
	font-size: 14px;
	border-radius:5px;
}
.email-card-submit:hover {

	border: 0px;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: #357ae8;
}
.email-card input[type=email]:hover{
	border: 0px;
	text-shadow: 0 1px black;
	background-color: #EFECFB;
}
